{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container-fluid" style="margin: 0px 0px">
   
    <div class="row">
      <div class="col-xl-9">
       <img class = "img-responsive home-img" src="{% static 'images/analyze-full.png' %}" alt="">
      </div>

      <div class="col-xl-3">
        <div class="row">
          <img src="{% static 'images/TI-Logo.png' %}" alt="logo">
        </div>

        <div class="row mt-2">
        <span>Talent Intelligence is a global consultancy advocating a smarter approach to talent acquisition and management.</span>
        </div>
    
        <div class="row mt-2">
          <span>We enable some of the world’s most dynamic businesses to find, recruit and retain talent that will supercharge their performance.</span>
        </div>

      </div>
      
       
    
     
  

 
    </div> 
  </div>

{% endblock content %}

