<div class="container mt-3">
    <h1>Site Links</h1>
    <div class="row">

      <div class="col-sm">
        <a href="https://talentintelligence.avature.net/" target="_blank" class="block">
          <div class="card" style="width: 18rem;">
            
              <div class="card-body text-center">
                
                <h5 class="card-title">Avature</h5>
                
                <img class = "card-img-top mb-3 w-auto" src="https://media-exp1.licdn.com/dms/image/C4D0BAQHNWtrL3azy8w/company-logo_200_200/0?e=2159024400&v=beta&t=NpUGLQdiA70LmrFw_Fndzaw2LRgRc8Euy58qxqMPBCU" alt="Avature" style="width:75px;height:75px;">
               
                <p>Talent Intelligence CRM</p> 
        </a>
            
              </div>
          </div>
       
      </div>

      <div class="col-sm">
        <a href="https://talentintelligence.bamboohr.com/" target="_blank" class="card-link">
          <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                
                <h5 class="card-title">Bamboo</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
                <a href="https://talentintelligence.bamboohr.com/" target="_blank" class="card-link"><img class = "card-img-top mb-3 w-auto" src="https://www.logolynx.com/images/logolynx/s_e7/e7006accb90296cc3ec9515da62c0eef.png" alt="Bamboo" style="width:75px;height:75px;"></a>
                <p><a href="https://talentintelligence.bamboohr.com/" target="_blank" class="card-text">Talent Intelligence HR Site</a></p>
            
              </div>
          </div>
        </a>
      </div> 
      
      <div class="col-sm">
        <a href="https://talentintelligence.blogin.co/" target="_blank" class="card-link">
          <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                
                <h5 class="card-title">BlogIn</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
                <a href="https://talentintelligence.blogin.co/" target="_blank" class="card-link"><img class = "card-img-top mb-3 w-auto" src="https://blogin.co/images/blogin_logo_600_bw.png" alt="Avature" style="width:75px;height:75px;"></a>
                <p><a href="https://talentintelligence.blogin.co/" target="_blank" class="card-text">Talent Intelligence Blog Site</a></p>
            
              </div>
          </div>
        </a>
      </div>

      
      
    </div>
  </div>
  <!-- row 2 -->
  <div class="container mt-3">
      <div class="row">

        <div class="col-sm">
          <a href="https://app.careerperformanceintelligence.com/" target="_blank" class="card-link">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                  
                  <h5 class="card-title">CPI</h5>
                  <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
                  <a href="https://app.careerperformanceintelligence.com/" target="_blank" class="card-link"><img class = "card-img-top mb-3 w-auto" src="{% static 'images/Talent_Intelligence_Logomark_Orange.png' %}" alt="CPI" style="width:75px;height:75px;"></a>
                  <p><a href="https://app.careerperformanceintelligence.com/" target="_blank" class="card-text">Career Intelligence Site</a></p>
              
                </div>
            </div>
          </a>
        </div> 
        
       

      <div class="col-sm">
        <a href="https://www.expensify.com/" target="_blank" class="card-link">
          <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                
                <h5 class="card-title">Expensify</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
                <a href="https://www.expensify.com/" target="_blank" class="card-link"><img class = "card-img-top mb-3 w-auto" src="https://assets.meet.jobs/uploads/organization/585/logo/profile_expensify.png?1570414285" alt="Expensify" style="width:75px;height:75px;"></a>
                <p><a href="https://www.expensify.com/" target="_blank" class="card-text"> Expense Reports </a></p>
            
              </div>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://login.microsoftonline.com/" target="_blank" class="card-link">
          <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                
                <h5 class="card-title">Microsoft 365</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
                <a href="https://login.microsoftonline.com/" target="_blank" class="card-link"><img class = "card-img-top mb-3 w-auto" src="https://www.webster.edu/images/technology/office365/office365-logo.jpg" alt="365" style="width:75px;height:75px;"></a>
                <p><a href="https://login.microsoftonline.com/" target="_blank" class="card-text">Office 365</a></p>
            
              </div>
          </div>
        </a>
      </div>   
      

      
      
    </div>
  </div>

  <!-- row 3 -->
  <div class="container mt-3 mb-3">
    <div class="row">

      <div class="col-sm">
        <a href="https://www.salesforce.com/" target="_blank" class="card-link">
          <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                
                <h5 class="card-title">Salesforce</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
                <a href="https://www.salesforce.com/" target="_blank" class="card-link"><img class = "card-img-top mb-3 w-auto" src="https://pluspng.com/img-png/salesforce-logo-vector-png-salesforce-logo-png-2300.png" alt="Salesforce" style="width:75px;height:75px;"></a>
                <p><a href="https://www.salesforce.com/" target="_blank" class="card-text">Access Salesforce</a></p>
            
              </div>
          </div>
        </a>
      </div> 
    
      <div class="col-sm">
        <a href="https://www.skillshare.com/" target="_blank" class="card-link">
          <div class="card" style="width: 18rem;">
              <div class="card-body text-center">
                
                <h5 class="card-title">Skillshare</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
                <a href="https://www.skillshare.com/" target="_blank" class="card-link"><img class = "card-img-top mb-3 w-auto" src="https://www.underconsideration.com/brandnew/archives/skillshare_logo.png" alt="Skillshare" style="width:75px;height:75px;"></a>
                <p><a href="https://www.skillshare.com/" target="_blank" class="card-text">Access Skillshare</a></p>
            
              </div>
          </div>
        </a>
      </div> 
    

    <div class="col-sm">
      <a href="https://www.wework.com/" target="_blank" class="card-link">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
              
              <h5 class="card-title">WeWork</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
              <a href="https://www.wework.com/" target="_blank" class="card-link"><img class = "card-img-top mb-3 w-auto" src="https://pbs.twimg.com/media/DHXJ3MTUAAUYX0L.jpg" alt="WeWork" style="width:75px;height:75px;"></a>
              <p><a href="https://www.wework.com/" target="_blank" class="card-text">Wework Site</a></p>
          
            </div>
        </div>
      </a>
    </div>

    
  </div>
</div>