{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
          
        {% endfor %}
      
    {% endif %}

    <h1>{{welcome_text}}</h1>

    <form method="POST" class="col-4">
        {% csrf_token %}

        {{ creation_form|crispy }}

        <button type="submit" class="btn btn-secondary mb-3">Add</button>
        <a href="{% url 'view_dashboards' %}"><button type="button">Cancel</button></a>
    </form>
</div>
  
{% endblock content %}