{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{{ redirect_to_login_immediately }}

<div class="container">
  <div class="row">
    <div class="col">
      <a href="{% url 'adduser' %}"><img src="{% static 'images/add.png' %}"></a>
    </div>
    <div class="col">
      <h3>Users</h3>
    </div>
  </div>
<div>

<table 

id="table"
data-toggle="table" 
data-sort-class="table-active"
data-sortable="true"
data-search="true"
data-pagination="true"
data-page-list="[10, 25, 50, All]"
data-page-size="25"
data-height="800"
data-show-export="true"
data-click-to-select="true"
data-export-data-type="all"
data-export-types="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf']"



>
    <thead>
      <tr>
        <th data-field="User_Name" data-sortable="true">User Name</th>
        <th data-field="First" data-sortable="true">First</th>
        <th data-field="Last" data-sortable="true">Last</th>
        <th data-field="Company" data-sortable="true">Company</th>
        <th data-field="Employee" data-sortable="true">Employee</th>
        <th data-field="Admin" data-sortable="true">Admin</th>
        <th data-field="Edit" data-sortable="true">Edit</th>
        <th data-field="Delete" data-sortable="true">Delete</th>
        <th data-field="Last_Login" data-sortable="true">Last Login</th>

      </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr id="tr-id-2" class="tr-class-2">
            <td scope="row">{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.company}}</td>
            <td>{{user.is_employee}}</td>
            <td>{{user.is_adminUser}}</td>
            <td scope="col"><a href="{% url 'edit_user' user.pk %}"><button>Edit</button></a></td>
            <td scope="col"><a href="{% url 'delete_user' user.pk %}"><button>Delete</button></a></td>
            <td>{{user.last_login}}</td>
        </tr>

        {% endfor %}
     
      
    </tbody>
  </table>
</div>
</div>

  
{% endblock content %}