{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col"><a href="{% url 'add_dashboard' %}"><img src="{% static 'images/add.png' %}"></a></div>
    <div class="col"><h3>Current Dashboards</h3></div>
    
    
  </div>
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Dashboard Name</th>
            
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            
    
          </tr>
        </thead>
        <tbody>
            {% for dashboard in dashboards %}
            <tr>
                <th scope="row">{{dashboard.dashboard_name}}</th>
                
             
                <th scope="col"><a href="{% url 'edit_dashboard' dashboard.pk %}"><button>Edit</button></a></th>
                <th scope="col"><a href="{% url 'delete_dashboard' dashboard.pk %}"><button>Delete</button></a></th>
                
    
            {% endfor %}
         
          
        </tbody>
      </table>
</div>

<div class="container">
    <div class="row">
      <div class="col"><a href="{% url 'create_access' %}"><img src="{% static 'images/add.png' %}"></a></div>
      <div class="col"><h3>Dashboard Access</h3></div>
      
      
    </div>
    
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Dashboard Name</th>
            <th scope="col">Delete</th>
            
    
          </tr>
        </thead>
        <tbody>
            {% for acc in access %}
            <tr>
                <th scope="row">{{acc.user_reference}}</th>
                <th scope="row">{{acc.related_dashboard}}</th>
                <th scope="col"><a href="{% url 'delete_access' acc.pk %}"><button>Delete</button></a></th>
                
    
            {% endfor %}
         
          
        </tbody>
      </table>
</div>

  
{% endblock content %}